
# Created by https://www.gitignore.io/api/oracleforms
# Edit at https://www.gitignore.io/?templates=oracleforms

### OracleForms ###
# Compiled Form Modules
*.fmx

# Compiled Menu Modules
*.mmx

# Compiled Pre-Linked Libraries
*.plx

# End of https://www.gitignore.io/api/oracleforms